@use "sass:map";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


@mixin _apply-font($font-name) {
    $font-map: map.get($typography-map, $font-name);
    font-size: map.get($font-map, "size");
    font-weight: map.get($font-map, "weight");
    letter-spacing: map.get($font-map, "letter-spacing");
    line-height: map.get($font-map, "line-height");
    color: var(--md-sys-color-on-surface-variant);
    font-family: "Roboto", sans-serif;
}


$typography-map: (
        "label-large-promient": (
                "line-height": 20px,
                "size": 0.875em,
                "letter-spacing": 0.1px,
                "weight": 600
        ),
        "label-large": (
                "line-height": 20px,
                "size": 14px,
                "letter-spacing": 0.1px,
                "weight": 500
        ),
        "label-medium-promient": (
                "line-height": 16px,
                "size": 0.75em,
                "letter-spacing": 0.5px,
                "weight": 600
        ),
        "label-medium": (
                "line-height": 16px,
                "size": 0.75em,
                "letter-spacing": 0.5px,
                "weight": 500
        ),
);

:root {
    color-scheme: light dark;
    --md-sys-color-primary: light-dark(rgb(54 97 142), rgb(161 202 253));
    --md-sys-color-surface-tint: light-dark(rgb(54 97 142), rgb(161 202 253));
    --md-sys-color-on-primary: light-dark(rgb(255 255 255), rgb(0 50 89));
    --md-sys-color-primary-container: light-dark(rgb(209 228 255), rgb(26 73 117));
    --md-sys-color-on-primary-container: light-dark(rgb(0 29 54), rgb(209 228 255));
    
    --md-sys-color-secondary: light-dark(rgb(83 95 112), rgb(187 199 219));
    --md-sys-color-on-secondary: light-dark(rgb(255 255 255), rgb(37 49 64));
    --md-sys-color-secondary-container: light-dark(rgb(215 227 248), rgb(59 72 88));
    --md-sys-color-on-secondary-container: light-dark(rgb(16 28 43), rgb(215 227 248));
    
    --md-sys-color-tertiary: light-dark(rgb(107 87 120), rgb(215 190 228));
    --md-sys-color-on-tertiary: light-dark(rgb(255 255 255), rgb(59 41 72));
    --md-sys-color-tertiary-container: light-dark(rgb(243 218 255), rgb(82 63 95));
    --md-sys-color-on-tertiary-container: light-dark(rgb(37 20 49), rgb(243 218 255));
    
    --md-sys-color-error: light-dark(rgb(186 26 26), rgb(255 180 171));
    --md-sys-color-on-error: light-dark(rgb(255 255 255), rgb(105 0 5));
    --md-sys-color-error-container: light-dark(rgb(255 218 214), rgb(147 0 10));
    --md-sys-color-on-error-container: light-dark(rgb(65 0 2), rgb(255 218 214));
    
    --md-sys-color-background: light-dark(rgb(248 249 255), rgb(17 20 24));
    --md-sys-color-on-background: light-dark(rgb(25 28 32), rgb(225 226 232));
    --md-sys-color-surface: light-dark(rgb(248 249 255), rgb(17 20 24));
    --md-sys-color-on-surface: light-dark(rgb(25 28 32), rgb(225 226 232));
    
    --md-sys-color-surface-variant: light-dark(rgb(223 226 235), rgb(67 71 78));
    --md-sys-color-on-surface-variant: light-dark(rgb(67 71 78), rgb(195 198 207));
    
    --md-sys-color-outline: light-dark(rgb(115 119 127), rgb(141 145 153));
    --md-sys-color-outline-variant: light-dark(rgb(195 198 207), rgb(67 71 78));
    
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    
    --md-sys-color-inverse-surface: light-dark(rgb(46 49 53), rgb(225 226 232));
    --md-sys-color-inverse-on-surface: light-dark(rgb(239 240 247), rgb(46 49 53));
    --md-sys-color-inverse-primary: light-dark(rgb(161 202 253), rgb(54 97 142));
    
    --md-sys-color-primary-fixed: rgb(209 228 255);
    --md-sys-color-on-primary-fixed: rgb(0 29 54);
    --md-sys-color-primary-fixed-dim: rgb(161 202 253);
    --md-sys-color-on-primary-fixed-variant: rgb(26 73 117);
    
    --md-sys-color-secondary-fixed: rgb(215 227 248);
    --md-sys-color-on-secondary-fixed: rgb(16 28 43);
    --md-sys-color-secondary-fixed-dim: rgb(187 199 219);
    --md-sys-color-on-secondary-fixed-variant: rgb(59 72 88);
    
    --md-sys-color-tertiary-fixed: rgb(243 218 255);
    --md-sys-color-on-tertiary-fixed: rgb(37 20 49);
    --md-sys-color-tertiary-fixed-dim: rgb(215 190 228);
    --md-sys-color-on-tertiary-fixed-variant: rgb(82 63 95);
    
    --md-sys-color-surface-dim: light-dark(rgb(216 218 224), rgb(17 20 24));
    --md-sys-color-surface-bright: light-dark(rgb(248 249 255), rgb(54 57 62));
    
    --md-sys-color-surface-container-lowest: light-dark(rgb(255 255 255), rgb(11 14 19));
    --md-sys-color-surface-container-low: light-dark(rgb(242 243 250), rgb(25 28 32));
    --md-sys-color-surface-container: light-dark(rgb(236 238 244), rgb(29 32 36));
    --md-sys-color-surface-container-high: light-dark(rgb(230 232 238), rgb(39 42 47));
    --md-sys-color-surface-container-highest: light-dark(rgb(225 226 232), rgb(50 53 58));
    --icon-fill: 0;
    --quantity-display: none;
}

html, body{
    margin: 0;
    h3{
        margin: 0;
    }
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' var(--icon-fill),
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.navigation{
    display: grid;
    width: 360px;
    max-height: 754px;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    padding: 12px;
    &__item{
        &__content{
            @include _apply-font("label-large");
            h3{
                @include _apply-font("label-large");
            }
            --_state-layer-display: none;
            border-radius: 100px;
            z-index: 0;
            gap: 12px;
            padding-left: 16px;
            padding-right: 24px;
            height: 56px;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: min-content 1fr min-content;
            position: relative;
            &:hover{
                --_state-layer-opacity: 0.08;
                --_state-layer-display: block;
                background-color: var(--md-sys-color-surface-container);
                --icon-fill: 1;
                --quantity-display: block;
            }
            &::before {
                display: var(--_state-layer-display);
                content: "";
                border-radius: 100px;
                position: absolute;
                inset: 0;
                z-index: -1;
                transition: 0.5s opacity;
                background-color: currentColor;
                opacity: var(--_state-layer-opacity, 0);
            }
            &__quantity{
                display: var(--quantity-display);
            }
        }
    }
}