@use "sass:map";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


@mixin _apply-font($font-name) {
    $font-map: map.get($typography-map, $font-name);
    font-size: map.get($font-map, "size");
    font-weight: map.get($font-map, "weight");
    letter-spacing: map.get($font-map, "letter-spacing");
    line-height: map.get($font-map, "line-height");
    color: var(--md-sys-color-on-surface-variant);
    font-family: "Roboto", sans-serif;
}

@mixin _apply-color($color-name) {
    $color-map: map.get($politer-map, $color-name);
    background-color: map.get($color-map, "background-color");
    color: map.get($color-map, "color");
}

@mixin _hover-element($border){
    @if ($border == "icon"){
        z-index: 0;
        position: relative;

            &::before{
            content: "";
            border-radius: 100px;
            position: absolute;
            inset: 0;
            z-index: -1;
            transition: 0.5s opacity;
            background-color: currentColor;
            opacity: var(--_state-layer-opacity, 0);
        }
    }
    @if ($border != "icon"){
        z-index: 0;
        position: relative;

        &:hover{
            --_state-layer-opacity: 0.08;
            --_state-layer-display: block;
            --_state-layer-display-icon: block;
            --icon-fill: 1;
            --quantity-display: inline;
        }

        &::before {
            display: var(--_state-layer-display);
            content: "";
            border-radius: #{$border};
            position: absolute;
            inset: 0;
            z-index: -1;
            transition: 0.5s opacity;
            background-color: currentColor;
            opacity: var(--_state-layer-opacity, 0);
        }
    }
}

$typography-map: (
        "label-large": (
                "line-height": 20px,
                "size": 14px,
                "letter-spacing": 0.1px,
                "weight": 500
        ),

        "label-medium": (
                "line-height": 16px,
                "size": 12px,
                "letter-spacing": 0.5px,
                "weight": 500
        ),
);

$politer-map: (
    "tertiary": (
        "background-color": light-dark(rgb(243 218 255), rgb(82 63 95)),
        "color": light-dark(rgb(37 20 49), rgb(243 218 255)),
    ),

    "background":(
        --md-sys-color-background: light-dark(rgb(248 249 255), rgb(17 20 24)),
        --md-sys-color-on-background: light-dark(rgb(25 28 32), rgb(225 226 232)),
    ),
);

:root {
    color-scheme: light dark;
    
    --md-sys-color-on-surface-variant: light-dark(rgb(67 71 78), rgb(195 198 207));
    
    --md-sys-color-outline-variant: light-dark(rgb(195 198 207), rgb(67 71 78));
    
    --quantity-display: none;
}

$breakpoint-table: 900px;
$breakpoint-phone: 412px;

html, body{
    @include _apply-color("background");

    h3{
        margin: 0;
    }
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' var(--icon-fill),
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.container{
    display: grid;
    max-width: 360px;

    @media(width <= $breakpoint-phone){
        place-items: center;
        margin: auto;
    }

    .burger-menu{
        @include _apply-font("label-medium");
        display: none;
        width: 80px;
        padding-top: 44px;
        padding-bottom: 56px;
        place-items: center;

        @media(width > $breakpoint-phone) and (width < $breakpoint-table){
            display: grid;
            grid-template-rows: 48px 56px;
            gap: 4px;
        }

        @media(width <= $breakpoint-phone){
            display: none;
        }

        &__menu{
            display: grid;
            width: 40px;
            height: 40px;
            place-items: center;
            @include _hover-element("100px");
        }

        &__edit{
            display: grid;
            width: 56px;
            height: 56px;
            border-radius: 16px;
            justify-content: center;
            align-items: center;
            @include _apply-color("tertiary");
            @include _hover-element("16px");
        }
    }
    .navigation{
        display: grid;
        max-width: 336px;
        grid-template-rows: repeat(3, 1fr);
        padding: 12px;
        
        @media(width >= $breakpoint-phone) and (width <= $breakpoint-table){
            max-width: 80px;
            padding: 0;
            gap: 12px;
        }

        @media(width <= $breakpoint-phone){
            grid-template-rows: 1fr;
            grid-template-columns: repeat(3, min-content);
            padding: 8px;
            gap: 8px;
            justify-content: center;
        }

        &__item{
            display: grid;
            grid-template-rows: repeat(4, 1fr) min-content;

            @media(width > $breakpoint-phone) and (width < $breakpoint-table){
                grid-template-rows: 1fr;
            }

            @media(width <= $breakpoint-phone){
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }

            &__line{
                border: none;
                border-top: 1px solid var(--md-sys-color-outline-variant);
                margin: 0;
                place-self: center;
                width: 304px;

                @media(width <= $breakpoint-table){
                    display: none;
                }
            }

            &__content{
                @include _apply-font("label-large");
                border-radius: 100px;
                gap: 4px;
                padding-left: 16px;
                padding-right: 24px;
                height: 56px;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: min-content 1fr min-content;
                @include _hover-element("100px");

                &__quantity{
                    display: var(--quantity-display);
                }

                &__title{
                    @include _apply-font("label-large");
                }
                
                &__icon-container{
                    display: none;
                }

                @media(width <= $breakpoint-phone){
                    max-width: 50px;
                    min-width: 126px;
                    height: 80px;
                    grid-template-rows: repeat(2, min-content);
                    grid-template-columns: 1fr;
                    gap: 4px;
                }

                @media(width <= $breakpoint-table){
                    @include _apply-font("label-medium");
                    display: none;
                    padding: 0;

                    &__title{
                        @include _apply-font("label-medium");
                    }

                    &::before{
                        content: none;
                    }

                    &--main{
                        display: grid;
                        place-items: center;
                    }

                    &__icon-container{
                        width: 56px;
                        height: 32px;
                        display: grid;
                        place-items: center;
                        @include _hover-element("icon");
                    }
                }
                
                @media(width > $breakpoint-phone) and (width < $breakpoint-table){
                    &--main{
                        grid-template-rows: min-content min-content;
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
}